  <footer id="footer" class="footer">
      <div class="footer__desc">
          <div class="container footer__desc-container">
              <div class="footer__about">
                  <h4>About Velocity</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
              </div>

              <div class="footer__links">
                  <h4>useful links</h4>
                  <ul>
                      <li><a href="#!">Phasellus gravida semper nisi</a></li>
                      <li><a href="#!">Suspendisse nisl elit</a></li>
                      <li><a href="#!">Dellentesque habitant morbi</a></li>
                      <li><a href="#!">Etiam sollicitudin ipsum</a></li>
                  </ul>
              </div>

              <div class="footer__socials">
                  <h4>social</h4>
                  <ul>
                      <li><a href="#!"><img src="src/img/icon-tw.svg" alt="">Twitter</a></li>
                      <li><a href="#!"><img src="src/img/icon-fb.svg" alt="">Facebook</a></li>
                      <li><a href="#!"><img src="src/img/icon-pt.svg" alt="">Pinterest</a></li>
                      <li><a href="#!"><img src="src/img/icon-g+.svg" alt="">Google</a></li>
                      <li><a href="#!"><img src="src/img/icon-wf.svg" alt="">Webflow</a></li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="footer__copy">
          <div class="container">
              <p class="footer__text">Copyright Velocity Inc. Made in Webflow.</p>
          </div>
      </div>
  </footer>
    <script type="module" src="./src/js/main.js"></script>
  </body>
</html>
