<section class="services common-section common-section--dark ">

    <div class="container">
        <div class="title-wrapper">
            <h3 class="title services__title">services</h3>
            <p class="subtitle services__subtitle">This is some text inside of a div block.</p>
        </div>

        <div class="cards-wrapper">

            <div class="card">
                <img src="src/img/service1.png" alt="icon">
                <h4>SERVICES one</h4>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
                <a href="#!" class="link">learn more</a>
            </div>

            <div class="card">
                <img src="src/img/service2.png" alt="icon">
                <h4>SERVICES two</h4>
                <p class="services__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                    tristique.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius.</p>
                <a href="#!" class="link">learn more</a>
            </div>

        </div>

    </div>
</section>